{% extends "templates/lizenz_webshop/lizenz_webshop_web.html" %}

{% block style %}
<style>
    {% include "templates/lizenz_webshop/webshop_login.css" %}
</style>
{% endblock %}

{% block page_content %}
    <div style='height: 50vh;'>
        <section class='for-login'>
            <div class="login-content page-card desktop-only" style="margin-top: 18vh;">
                <form class="form-login" role="form">
                    <div class="page-card-head header">
                        <h3>Passwort vergessen</h3>
                        Um ihr Passwort zurückzusetzten, tragen sie bitte ihre E-Mail Adresse ein.
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="login_email"
                            class="form-control"
                            style="padding-left: 40px !important; padding-top: 12px !important; padding-bottom: 4px !important; border-radius: 8px;"
                            placeholder="Benutzername"
                            required autofocus>
                        <label for="login_email">E-Mail Adresse</label>
                        <span class="label-addon"><i class="fa fa-at"></i></span>
                    </div>
                    <p class="warning" id="login_error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Passwort oder Benutzernamen falsch.</p>
                    <button class="btn btn-sm btn-primary btn-block btn-login btn-custom" type="submit">
                        {{ _("Passwort zurücksetzen") }}
                    </button>
                    <p class="text-left pointer" style="margin-top: 15px" onclick="forgot_password();">
                        Zurück zum Login
                    </p>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script>{% include "templates/lizenz_webshop/webshop_login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
