{% extends "templates/lizenz_webshop/lizenz_webshop_web.html" %}

{% block style %}
<style>
    {% include "templates/lizenz_webshop/webshop_login.css" %}
</style>
{% endblock %}

{% block page_content %}
    <div style='height: 50vh;'>
        <section class='for-reset'>
            <div class="login-content page-card desktop-only" style="margin-top: 18vh;">
                <form class="form-reset" role="form">
                    <div class="page-card-head header">
                        <h3>Neues Passwort</h3>
                        Bitte geben Sie Ihr neues Passwort an.
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="new_password"
                            class="form-control"
                            style="padding-left: 40px !important; padding-top: 12px !important; padding-bottom: 4px !important; border-radius: 8px;"
                            placeholder="E-Mail Addresse"
                            required autofocus>
                        <label for="new_password">Neues Passwort</label>
                        <span class="label-addon"><i class="fa fa-key"></i></span>
                    </div>
                    <p class="warning" id="reset_password_error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Passwort oder Benutzernamen falsch.</p>
                    <button class="btn btn-sm btn-primary btn-block btn-login btn-custom" id="update" type="submit">
                        {{ _("Passwort setzten") }}
                    </button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script>{% include "templates/lizenz_webshop/webshop_login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
