/* login-css */

.for-login {
	display: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    padding: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-footer {
	margin-top: -45px;
	text-align: center;
}

.form-footer, .form-footer a, .form-footer h6 {
	font-size: 12px;
	color: #8D99A6;
	font-weight: bold;
}

.form-footer .btn-default {
	color: #36414C;
}

h5 {
  position: relative;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

p {
	margin-bottom:20px;
}

.login-content .btn {
	font-size: 14px;
	margin-top: 45px;
}

.page-card {
    max-width: 360px;
    padding: 15px;
    margin: 70px auto;
    border: none !important;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    color: #717379;
}
.page-card .page-card-head {
  padding: 10px 15px;
  margin: -15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d1d8dd;
}
.page-card .page-card-head .indicator {
  color: #36414C;
  font-size: 14px;
}
.page-card .page-card-head .indicator::before {
  margin: 0 6px 0.5px 0px;
}
.page-card .btn {
  margin-top: 30px;
}

.toggle-password {
  right: 9px;
  top: 9px;
  position: absolute;
  z-index: 2;
}

@media (min-width: 768px) {
    .desktop-only {
        width: 20vw;
    }
}

.btn-custom {
    background-color: #7190A6;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-left {
    color: #7190A6;
}

.fa-arrow-left {
    font-size: 14px;
}

.btn-key {
    margin-top: 10px !important;
}

#evse_count {
    margin-top: 0px;
}

.warning {
    color: #DC4040;
    font-size: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    display: none;
}
